<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
	<title>Шаблон S-Hotel Контакты</title>
    <meta name="description" content="Адаптивный шаблон S-Hotel">
    <meta name="keywords" content="гостиница, мытищи">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/static/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Предзагрузчик -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Begin -->
    <header class="header-section other-page">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="./index.html"><img src="static/imglogo.png" alt=""></a>
                </div>
                <div class="top-widget">
                    <div class="top-info address">
                        <img src="static/imgplaceholder.png" alt="">
                        <span>123456 Терпигорьево<br />Мытищи, Россия</span>
                    </div>
                    <div class="top-info phone-num">
                        <img src="static/imgphone.png" alt="">
                        <span>+7 (000)000-0000</span>
                    </div>
                </div>
                <div class="container">
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Главная</a></li>
                            <li><a href="./about-us.html">Гостиница</a></li>
                            <li><a href="./rooms.html">Номера</a></li>
                            <li><a href="./services.html">Сервис</a>
                                <ul class="drop-menu">
                                    <li><a href="./services.html">Эконом класс</a></li>
                                    <li><a href="./services.html">Двухкомнатные</a></li>
                                    <li><a href="./services.html">Апартаменты</a></li>
                                </ul>
                            </li>
                            <li><a href="./news.html">Новости</a></li>
                            <li><a href="./contact.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="static/imgcontact-bg.jpg">
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Контакты</h1>
                    </div>
                </div>
                <div class="page-nav">
                    <a href="./news.html" class="left-nav"><i class="lnr lnr-arrow-left"></i> Новости</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <div class="contact-information">
                            <h2>Информация для контактов</h2>
                            <ul>
                                <li><img src="static/imgplaceholder-copy.png" alt=""> <span>Инд: 123456 Терпигорьево, Мытищинский р-н, Россия</span></li>
                                <li><img src="static/imgphone-copy.png" alt=""> <span>+7 (000)000-0000</span></li>
                                <li><img src="static/imgenvelop.png" alt=""> <span>hello@youremail.ru</span></li>
                                <li><img src="static/imgclock-copy.png" alt=""> <span>Ежедневно: 06:00 - 22:00</span></li>
                            </ul>
                        </div>
                        <div class="social-links">
                            <h2>Мы в соцсетях:</h2>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h5>Написать нам ...</h5>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>От</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="Ваше имя">
                                        <img src="static/imgedit.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="email" placeholder="E-mail">
                                        <img src="static/imgenvelop-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group phone-num">
                                        <input type="text" placeholder="Телефон">
                                        <img src="static/imgphone-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="message">
                                        <p>Текст</p>
                                        <div class="textarea">
                                            <textarea placeholder="Сообщение ..."></textarea>
                                            <img src="static/imgspeech-copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit">Отправить <i class="lnr lnr-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Section Begin -->
    <div class="map">
<iframe src="https://yandex.ru/map-widget/v1/-/CGDBrXMR" height="560" frameborder="1" allowfullscreen="true"></iframe>
    </div>
    <!-- Map Section End -->

    <!-- Footer Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-logo">
                        <a href="#"><img src="static/imglogo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row pb-50">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Адрес</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-map-marker"></i>
                            <p>Инд: 123456 Терпигорьево, <br />Мытищинский р-н, Россия</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Администратор</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+7 (000)000 0000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Ресепшен</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+7 (000)000 0000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Ресторан</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+7 (000)000 0000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены | шаблон представлен <i class="fa fa-heart-o" aria-hidden="true"></i> сайтом <a href="https://sitey.ru" target="_blank">SiteY.ru</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                <div class="privacy-links">
                    <a href="services.html">Сервис</a>
                    <a href="contact.html">Контакты</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>

	<script src="/static/js/knopka.js"></script>
	<div class="go-up" title="Вверх" id='ToTop'>&#8657;</div>
    <div class="go-down" title="Вниз" id='OnBottom'>&#8659;</div>
	
</body>
</html>